:root {
    --first-color: burlywood;
    --sec-color:cadetblue;
    --third-color:black;
}
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */

body {
    background-color:var(--sec-color) ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
}

/* header section */
header {
    padding: 20px, 35px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: sticky;
    top: 0;
    align-items: center;
    background-image: url(./images/landscape.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: black;
    margin:0%;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: black;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a :hover {
    background-color: darkblue;
    color: white;
    border-radius: 20px;
}
/* hero section */
.hero {
    background-image: url(./images/landscape.JPG) ;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    
    
}
/* main {
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid black 3px;
    margin: 10px;

}

.section-title {
    font-size: 35px;
    border: none;
}
main section {
    border: darkblue solid 10px;
    margin: 10px;
}
.aboutMe {
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: burlywood;
}
/* .image-bio {
    display: flex;
} */


section div img {
    width: 500px;
    height: 400px;
    padding: 50px;
    
}
section div p {
    font-size: 30px;
    padding: 30px;
    line-height:1.5;
}
.bio-details {
    font-size: 25px ;
    text-align:start;
    line-height: 1.5;
}
.hr.solid {
    border-top: 3px solid #bbb;
    border-width: 30px;
}
.bio-p {
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
}
.bio-details p {
    font-size: 20px;
    padding: 0px;
}
.hr-style {
    border: cadetblue 1px solid;
    width: 25%;
    margin-left:0;
    }
.work-sample {
    width: 800px;
    height: 400px;
}
.work {
    display: flex;
    background-color: burlywood;
    width: 97%
}
.flex-row {
    display: flex;
}
.contact-info {
    display: flex;
    background-color:burlywood ;
}  */